.Datos {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "Logo2 Info";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.Datos .Logo2 {
  grid-area: Logo2;
  margin-bottom: 30px;
}

.Datos .Info {
  grid-area: Info;
  text-align: justify;
}
