.ImagenCards {
  height: 161px;
  width: 213px;
}

.ImagenCards img {
  height: 161px;
  width: 213px;
}

.ItemDetails .ImagenCards {
  height: auto;
  width: auto;
  object-fit: fill;
}

.ItemDetails .ImagenCards img {
  max-height: 297px;
  max-width: 297px;
}
