.ItemDetails {
  height: 400px;
  width: 800px;
  max-width: auto;
  display: grid;
  grid-template-areas:
    "Imagen Titulo"
    "Imagen Precio"
    "Imagen Cantidad"
    "Boton Detalle";
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid rgb(236, 236, 236);
  padding: 34px;
}

.ItemDetails .ImagenCards {
  grid-area: Imagen;
}
.ItemDetails .TituloCards {
  grid-area: Titulo;
}
.ItemDetails .PrecioCards {
  grid-area: Precio;
}
.ItemDetails .CantidadCards {
  grid-area: Cantidad;
}
.ItemDetails .Detalle {
  grid-area: Detalle;
}
.ItemDetails .Boton {
  grid-area: Boton;
}
