* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.PaginaTienda {
  display: grid;
  grid-template-areas:
    "NavBar"
    "Tienda"
    "Footer";
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto 370px;
  background-color: #f2f2f2;
}

.PaginaTienda .NavBar {
  grid-area: NavBar;
}

.PaginaTienda .Tienda {
  grid-area: Tienda;
}
.PaginaTienda .Footer {
  grid-area: Footer;
}
